# Core ML
torch==2.1.2
numpy==1.23.5
scipy
scikit-learn

# Transformers & Training
transformers==4.34.1
tokenizers==0.14.1
accelerate==0.21.0
datasets==2.14.7
huggingface-hub==0.17.3
safetensors==0.4.3
peft==0.3.0
deepspeed==0.10.3

# Attention
setuptools==81.0.0
flash-attn==2.3.6


# Tokenization
sentencepiece==0.1.97

# Evaluation
rouge-chinese==1.0.3
nltk==3.8.1

# Data Processing
openpyxl==2.4.11
babel==2.16.0

# Utilities
tqdm
psutil
pyarrow==12.0.0
